/* 
    地圖 stroke #ffffff  
    地圖 fill #94D6B1
*/
.button-click {
  background-color: #52b27b;
  color: white;
  font-weight: bold;
}
.button-nonclick {
  background-color: #94d6b1;
  color: black;
}
.high-button-click {
  background-color: brown;
  color: white;
  font-weight: bold;
}
.high-button-nonclick {
  background-color: rgb(231, 180, 180);
  color: black;
}
.path-click {
  stroke: #ffffff;
  fill: #94d6b1;
}
.toppath-click {
  stroke: brown;
  stroke-width: 3;
  fill: rgb(210, 166, 166);
}
.setLabel {
  display: block;
}

/* SVG 容器樣式 */
svg {
  max-height: 90vh;
}

/* 定義動畫 */
@keyframes move {
  0% {
    transform: translate(-1px, -1px);
    fill: #94d6b1;
  }
  50% {
    fill: #52b27b;
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(-1px, -1px);
    fill: #94d6b1;
  }
}

/* Path 元素的樣式 */
path {
  stroke: #a38561;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer;
  z-index: 2;
}

/* Path 元素的 hover 效果 */
path:hover {
  animation: move 2s infinite;
}
