@import '@/static/css/NotoSansTC.css';
// initialize
body {
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
}
